
.progress_bar_outer {
	width: 50%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 20px;
    text-align:center;
    margin-bottom:40px;
    span {
    	z-index:2;
    	position:absolute;
    	margin-top: 7px;
    	font-weight:bold;	
    }
}

.filler{
	
    height: 38px;
    border: 0px solid gray;
    border-radius: 20px;
    max-width:100%;
}
.blueProgressBar{
    background-color:#b2d7e6;
}
 .redProgressBar {
    background-color:red !important;
}

.buttonProgressMarker {
	border: 1px solid #004085;
    margin: 0 10px 0 0;
    background-color: #004085;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 10px;
}

.selectMenu {
    border-radius: 8px;
    width: 140px;
    height: 28px;
    background-color: lightgray;
    font-weight: bold;
}